* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#events {
    font-size: 32px;
    color: #dbcee0;
    text-decoration: none;
}

#events:hover {
    color: #b49bbc;
    text-decoration: none;
}

body {
    max-height: 100%;
    min-width: 425px;
    margin: 0;
    background-image: linear-gradient(to top,
            black,
            rgb(31, 10, 31));
}

input.form-control {
    border-color: #b49bbc;
    box-shadow: none !important;
}

.btn-light:hover,
.btn-outline-light:hover {
    background-color: #dbcee0;
    border-color: #b49bbc;
}

#navbar-links {
    color: white;
}

#navbar-links:hover {
    color: #dbcee0;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

.card-logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.card-bottom-text {
    font-size: 18px;
    margin-left: 7px;
    color: black;
}

.event-card-bg {
    background-color: #f4edf6;
}


footer {
    display: block;
    margin-top: 3rem;
    position: relative;
    padding: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right,
            #5c1c72,
            black);
    text-align: center;
}

.footer_second_col {
    color: white;
    text-align: left;
    margin-left: 150px;
}

.footer_second_col button {
    background-color: transparent;
    border: none;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.footer_first_col_down_icon button {
    background-color: transparent;
    border: none;
}

.footer_first_col_down_icon a {
    color: white;
    text-decoration: none;
    margin-right: 8px;
}

.footer_first_col_down {
    color: white;
}